.container.blog-post {
  margin-top: 80px;
}

.blog-post {
  padding: 0 60px;
}

.blog-post .back-button i {
  margin-right: 10px;
}

.blog-post a {
  color: #926cb9;
  margin-right: 10px;
}

.blog-post hr {
  margin: 40px 0;
}
